@page "/"
@using Chess_Logic;

<PageTitle>Home</PageTitle>

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 3vmin;">
	<div class="board">
		@for (int row = 0; row < 8; row++)
		{
			for (int col = 0; col < 8; col++)
			{
				int rowIndex = row;
				int colIndex = col;
				string cellColor = legalMoves.Contains((rowIndex, colIndex)) ? "#ffe672" : game.GetCellColor(rowIndex, colIndex);

				<div class="cell" style="background-color: @cellColor;"
					 ondragover="event.preventDefault()"
					 @ondrop="(args) => OnPieceDrop(rowIndex, colIndex)"
					 @onclick="() => OnPieceDrop(rowIndex, colIndex)">
					@if (game.IsCellOccupied(rowIndex, colIndex))
					{
						var pieceColor = game.GetPieceColor(rowIndex, colIndex);
						var pieceImg = GetImg(game.Board[rowIndex, colIndex]!);

						@if (game.Turn == pieceColor)
						{
							<img draggable="true" class="piece draggable-piece" src="~/../pieces/@pieceImg"
								 @key="@($"piece{rowIndex}{colIndex}")"
								 @ondragstart="(args) => OnPieceDragStart(rowIndex, colIndex)"
								 @onclick="() => OnPieceDragStart(rowIndex, colIndex)"
								 @ondragover:preventDefault />
						}
						else
						{
							<img ondragstart="event.preventDefault()" class="piece" src="~/../pieces/@pieceImg" />
						}
					}
					else
					{
						<img draggable="false" ondragstart="event.preventDefault()" class="piece" src="~/../transparent.png" />
					}
				</div>
			}
		}
	</div>
	<div>
		@if (game.GameState != GameState.Playing)
		{
			<button @onclick="RestartGame" class="btn-under-board">
				Restart
			</button>
		}

		@if (game.CanPlayerClaim50MovesRule)
		{
			<button @onclick="ClaimDrawBy50MovesRule" class="btn-under-board">
				Claim 50 moves rule
			</button>
		}
	</div>
</div>

<style>

	.board {
		display: flex;
		flex-wrap: wrap;
		height: 90vmin;
		width: 90vmin;
	}

	.cell {
		width: calc(90vmin / 8);
		height: calc(90vmin / 8);
	}

	.piece {
		height: 100%;
		width: 100%;
	}

	.btn-under-board {
		margin-top: 10px;
		height: 50px;
		padding: 0 16px;
		font-size: 1rem;
	}

	.draggable-piece {
		cursor: url("https://www.google.com/intl/en_ALL/mapfiles/openhand.cur"), all-scroll;
		cursor: -webkit-grab;
		cursor: -moz-grab;
		cursor: -o-grab;
		cursor: -ms-grab;
		cursor: grab;
	}

		.draggable-piece:active {
			cursor: url("https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur"), all-scroll;
			cursor: -webkit-grabbing;
			cursor: -moz-grabbing;
			cursor: -o-grabbing;
			cursor: -ms-grabbing;
			cursor: grabbing;
		}

</style>

@code {

	private Game game = null!;

	private int pieceRowDragging = -1;
	private int pieceColDragging = -1;

	private List<(int, int)> legalMoves = [];

	protected override void OnInitialized()
	{
		game = new Game();
		game.GameStateChanged += GameStateChanged;
	}

	private void GameStateChanged()
	{
		Alert($"{game.GameState} because of {game.GameEndReason}");
	}

	private void RestartGame()
	{
		game = new Game();
		game.GameStateChanged += GameStateChanged;
		legalMoves.Clear();
	}

	private void ClaimDrawBy50MovesRule()
	{
		try
		{
			game.ClaimDrawBy50MovesRule();
		}
		catch (Exception ex)
		{
			Alert(ex.Message);
		}
	}

	private void OnPieceDrop(int row, int col)
	{
		if ((pieceRowDragging == row && pieceColDragging == col) || !legalMoves.Contains((row, col)))
			return;

		try
		{
			game.MovePiece(pieceRowDragging, pieceColDragging, row, col);
			legalMoves.Clear();
		}
		catch (Exception ex)
		{
			Alert(ex.Message);
		}
	}

	private void OnPieceDragStart(int row, int col)
	{
		pieceRowDragging = row;
		pieceColDragging = col;

		try
		{
			legalMoves = game.GetLegalMoves(row, col);
		}
		catch (Exception ex)
		{
			Alert(ex.Message);
		}
	}

	private string GetImg(Piece piece)
	{
		string img = piece.PieceColor == PieceColor.White ? "w" : "b";

		switch (piece.PieceType)
		{
			case PieceType.King:
				img += "k";
				break;
			case PieceType.Queen:
				img += "q";
				break;
			case PieceType.Rook:
				img += "r";
				break;
			case PieceType.Bishop:
				img += "b";
				break;
			case PieceType.Knight:
				img += "n";
				break;
			case PieceType.Pawn:
				img += "p";
				break;
		}

		return img + ".png";
	}

	private void Alert(string message)
	{
		JS.InvokeVoidAsync("alert", message);
	}
}