@page "/"
@using Chess_Logic;

<PageTitle>Home</PageTitle>

<div style="display: flex;">
    <div class="board">
        @for (int row = 0; row < 8; row++)
        {
            for (int col = 0; col < 8; col++)
            {
                int rowIndex = row;
                int colIndex = col;
                string cellColor = legalMoves.Contains((rowIndex, colIndex)) ? "red" : game.GetCellColor(rowIndex, colIndex);

                <div class="cell" style="background-color: @cellColor;"
                     ondragover="event.preventDefault()"
                     @ondrop="(args) => OnPieceDrop(rowIndex, colIndex)"
                     @onclick="() => OnPieceDrop(rowIndex, colIndex)">
                    @if (game.IsCellOccupied(rowIndex, colIndex))
                    {
                        var pieceColor = game.GetPieceColor(rowIndex, colIndex);
                        var pieceImg = game.GetPieceImg(rowIndex, colIndex);

                        @if (game.Turn == pieceColor)
                        {
                            <img draggable="true" class="piece draggable-piece" src="~/../pieces/@pieceImg"
                                 @key="@($"piece{rowIndex}{colIndex}")"
                                 @ondragstart="(args) => OnPieceDragStart(rowIndex, colIndex)"
                                 @onclick="() => OnPieceDragStart(rowIndex, colIndex)"
                            @ondragover:preventDefault />
                        }
                        else
                        {
                            <img ondragstart="event.preventDefault()" class="piece" src="~/../pieces/@pieceImg" />
                        }
                    }
                    else
                    {
                        <img draggable="false" ondragstart="event.preventDefault()" class="piece" src="~/../transparent.png" />
                    }
                </div>
            }
        }
    </div>
    <div>
        <h3>@(Enum.GetName(typeof(GameState), game.GameState))</h3>
        <h3>@(Enum.GetName(typeof(GameEndReason), game.GameEndReason))</h3>
        <br />
        <h4>To do:</h4>
        <ul style="margin-left: 27px;">
            <li>Add events when check, can claim 50 moves rule and gamestate changed</li>
            <li>Pawns promotion</li>
            <li>Draw by insufficient material</li>
            <li>Add time limit?</li>
            <li>Draw by insufficient material vs no time</li>
            <li>Lose on time</li>
            <li>Add resignation?</li>
            <li>Optimize everything</li>
        </ul>
        <button disabled="@(!game.CanPlayerClaim50MovesRule)" @onclick="game.ClaimDrawBy50MovesRule">Claim 50 moves rule</button>
    </div>
</div>

<style>

    .board {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
        width: 100vh;
    }

    .cell {
        width: calc(100vh / 8);
        height: calc(100vh / 8);
    }

    .piece {
        height: 100%;
        width: 100%;
    }

    .draggable-piece {
        cursor: url("https://www.google.com/intl/en_ALL/mapfiles/openhand.cur"), all-scroll;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        cursor: -o-grab;
        cursor: -ms-grab;
        cursor: grab;
    }

        .draggable-piece:active {
            cursor: url("https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur"), all-scroll;
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
            cursor: -o-grabbing;
            cursor: -ms-grabbing;
            cursor: grabbing;
        }

</style>

@code {

    private Game game = new Game();

    private int pieceRowDragging = -1;
    private int pieceColDragging = -1;

    private List<(int, int)> legalMoves = [];

    private void OnPieceDrop(int row, int col)
    {
        Console.WriteLine($"OnPieceDrop -> row: {row} - col: {col}");

        if ((pieceRowDragging == row && pieceColDragging == col) || !legalMoves.Contains((row, col)))
            return;

        game.MovePiece(pieceRowDragging, pieceColDragging, row, col);
        game.ChangeTurn();
        legalMoves.Clear();
    }

    private void OnPieceDragStart(int row, int col)
    {
        Console.WriteLine($"OnPieceDragStart -> row: {row} - col: {col}");
        pieceRowDragging = row;
        pieceColDragging = col;

        legalMoves = game.GetLegalMoves(row, col);
    }
}